In [8]:
import sys
sys.path.append("..")
from sqlalchemy import create_engine,text
from dotenv import load_dotenv
import os
from utility.utils import get_response
load_dotenv()
engine = create_engine(os.getenv("DATABASE_URL"),pool_pre_ping=True)
table_name = "sample_table2"
path = "data/big_sample.xlsx"
# upload_excel_to_psql(path = path,table_name=table_name,engine=engine)

In [3]:
print(get_response("Can you tell me the count of entries grouped by unique discount bands?",engine = engine,table_name = table_name))

The count of entries grouped by unique discount bands is as follows:
- Low: 160 entries
- None: 53 entries
- High: 245 entries
- Medium: 242 entries

In [4]:
print(get_response("Can you list all entries where sale price - manufacturing price is greater than 20 and the segment is Channel Partner",engine = engine,table_name = table_name))

I couldn't find any entries where the sale price minus manufacturing price is greater than 20 and the segment is Channel Partner.

In [16]:
print(get_response("Can you show me unique contries and segments from the table?",engine = engine,table_name = table_name))

The unique countries and segments from the table are:
1. Country: Mexico, Segment: Small Business
2. Country: Mexico, Segment: Midmarket
3. Country: Canada, Segment: Small Business
4. Country: Canada, Segment: Midmarket
5. Country: France, Segment: Government
6. Country: United States of America, Segment: Small Business
7. Country: United States of America, Segment: Enterprise
8. Country: Canada, Segment: Channel Partners
9. Country: France, Segment: Midmarket
10. Country: France, Segment: Enterprise
11. Country: Germany, Segment: Midmarket
12. Country: Canada, Segment: Government
13. Country: United States of America, Segment: Government
14. Country: Germany, Segment: Channel Partners
15. Country: Germany, Segment: Enterprise
16. Country: Germany, Segment: Government
17. Country: Mexico, Segment: Channel Partners
18. Country: Germany, Segment: Small Business
19. Country: Mexico, Segment: Enterprise
20. Country: Canada, Segment: Enterprise
21. Country: France, Segment: Small Business
22. Country: United States of America, Segment: Channel Partners
23. Country: Mexico, Segment: Government
24. Country: France, Segment: Channel Partners
25. Country: United States of America, Segment: Midmarket

In [6]:
print(get_response("Can you tell me the count of entries grouped by unique segemnts?",engine = engine,table_name = table_name))

The count of entries grouped by unique segments are as follows:
- Enterprise: 100 entries
- Small Business: 100 entries
- Channel Partners: 100 entries
- Midmarket: 100 entries
- Government: 300 entries

In [7]:
print(get_response("What are the unique products from the table?",engine = engine,table_name = table_name))

The unique products from the table are Amarilla, Carretera, Montana, Velo, Paseo, and VTT.

In [8]:
print(get_response("What is the average profit grouped by unique products",engine = engine,table_name = table_name))

The average profit grouped by unique products is as follows:
- Amarilla: $29,937.28
- Carretera: $19,643.06
- Montana: $22,739.30
- Velo: $21,155.89
- Paseo: $23,749.69
- VTT: $27,840.44

In [9]:
print(get_response("“Can you compare the profits of 2013 and 2014?”",engine = engine,table_name = table_name))

The profit in 2013 was 3,878,464.51, while the profit in 2014 was 13,015,237.75. So, the profit in 2014 was significantly higher compared to 2013.

In [20]:
print(get_response("Hi",max_retries=0,engine = engine,table_name = table_name))

It seems like you didn't input a question. If you have any question related to PostgreSQL queries or database operations, feel free to ask!

It seems like you didn't input a question. If you have any question related to PostgreSQL queries or database operations, feel free to ask!
Failed to execute query with given max retries. Either increase max retries or alter the query.
False

In [10]:
from utility.utils import get_table_details
print(get_table_details(table_name=table_name,engine = engine))

('Year', 'bigint')
('COGS', 'double precision')
('Profit', 'double precision')
('Date', 'timestamp without time zone')
('Month Number', 'bigint')
('index', 'bigint')
('Units Sold', 'double precision')
('Manufacturing Price', 'bigint')
('Sale Price', 'bigint')
('Gross Sales', 'double precision')
('Discounts', 'double precision')
('Sales', 'double precision')
('Segment', 'text')
('Country', 'text')
('Product', 'text')
('Discount Band', 'text')
('Month Name', 'text')